*.swp
.env
.DS_Store
node_modules/
.vscode
yarn-error.log
.gitconfig
.next/

# Logs
logs
yarn-debug.log*
yarn-error.log*

# Optional eslint cache
.eslintcache

# dotenv environment variables file(s)
.env
.env.*

#Build generated
dist/
build/

# debug
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
