---
layout: base.vto
---

<article class="max-w-8xl prose mx-auto mb-12 p-4 sm:px-6 md:prose-lg md:px-8 lg:prose-lg">
    <img
        alt="{{ image.alt }}"
        src="{{ image.src }}"
        decoding="async"
        width="730px"
        height="487px"
        class="rounded-xl"
    />
{{ content }}
</article>
